/* ---card game--- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col1 {
  width: 100%;
  height: 50vh;
  background: violet;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.7rem;
}

h3 {
  color: gold;
}

.given-card {
  width: 150px;
  height: 200px;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.given-card .shape {
  text-align: center;
  font-size: 1.5rem;
}

.given-card .bot-num {
  transform: rotate(180deg);
}

.col2 {
  width: 100%;
  height: 50vh;
  background: rgb(76, 168, 230);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  gap: 3rem;
}

.result-container {
  padding: 1rem 0 1.5rem 0;
}

.choices-card {
  width: 120px;
  height: 160px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 5px;
}

.choices-card .shape-choice {
  text-align: center;
}

.choices-card .bot {
  transform: rotate(180deg);
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
    height: 100vh;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .col1 {
    width: 100%;
    height: 50vh;
    background: violet;
  }
  .col2 {
    width: 100%;
    height: 50vh;
    background: rgb(76, 168, 230);
  }

  .given-card {
    width: 150px;
    height: 200px;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.7rem;
  }

  .given-card .shape {
    text-align: center;
  }

  .given-card .bot-num {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    height: 100vh;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .col1 {
    width: 100%;
    height: 50vh;
    background: violet;
  }
  .col2 {
    width: 100%;
    height: 50vh;
    background: rgb(76, 168, 230);
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    height: 100vh;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .col1 {
    width: 100%;
    height: 50vh;
    background: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.7rem;
  }

  h3 {
    color: gold;
  }

  .given-card {
    width: 150px;
    height: 200px;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .given-card .shape {
    text-align: center;
    font-size: 1.5rem;
  }

  .given-card .bot-num {
    transform: rotate(180deg);
  }

  .col2 {
    width: 100%;
    height: 50vh;
    background: rgb(76, 168, 230);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    gap: 3rem;
  }

  .result-container {
    padding: 1rem 0 1.5rem 0;
  }

  .choices-card {
    width: 120px;
    height: 160px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 5px;
  }

  .choices-card .shape-choice {
    text-align: center;
  }

  .choices-card .bot {
    transform: rotate(180deg);
  }
}
