/* ---card game--- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    height: 100vh;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .col1 {
    width: 100%;
    height: 50vh;
    background: violet;
  }
  .col2 {
    width: 100%;
    height: 50vh;
    background: rgb(76, 168, 230);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
    height: 100vh;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .col1 {
    width: 100%;
    height: 50vh;
    background: violet;
  }
  .col2 {
    width: 100%;
    height: 50vh;
    background: rgb(76, 168, 230);
  }
}
